/* style.css - Sophie Chou */

h1 { 
    font-size: 2em;
    color: white;
    text-align: center;
    font-family: "Oleo Script", cursive;
 }

h2 { 
    font-size: 2.2em;
    color: black;
    text-align: center;
    font-family: "Oleo Script", cursive;
}
 
h3 {
    font-size: 1.2em;
    color: #208454;
    font-family: "Montserrat Alternates", serif;;
    font-weight: bold;
}

body {
    height: 100%;
    font-family: Montserrat Alternates;
    display: flex;
    flex-direction: column;
}

.row .col-12 {
    margin-right: 2px;
    margin-left: 2px;
}

.main-container { 
    font-family: Montserrat Alternates;
    text-align: center;
    background-color: black;
    padding: 15px;
    color: white;
 }

.main-container a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5em;
    display: inline-block;
}

.navbar {
    background-color: #ebebeb;
}

.footer {
    background-color: #ebebeb;
}

.custom-button {
    background-color: #208454;
    color: white;
    border: none;
}

.montserrat-alternates-thin {
    font-family: "Montserrat Alternates", serif;
    font-weight: 100;
    font-style: normal;
}

#text { 
    font-size: 1.1em;
    max-width: 800px;
    margin: 0 auto;
}
